black
flake8
typing-extensions
pylint
pytest
absl-py
patchelf
numpy<1.24  # bsuite 0.3.5 fails, see https://github.com/deepmind/bsuite/issues/47
jax
wandb
jax_dataclasses
chex
optax
rlax
flax
dm_env
bsuite
gymnasium[all]>=0.26  # 0.26 introduced the termination/truncation API
gym[all]>=0.26  # 0.26 introduced the termination/truncation API
dm_control
gym_minigrid
minigrid
procgen