# coding
black
flake8
pylint
typing-extensions
# patches
patchelf  # required by mujoco (breaks without)
swig  #  required by gym (breaks without)
# testing
pytest
absl-py
# compute libraries
numpy<1.24  # bsuite 0.3.5 fails, see https://github.com/deepmind/bsuite/issues/47
jax
jax_dataclasses
chex
optax
rlax
flax
brax
# logging
wandb
# environment suites
dm_env
bsuite
gymnasium[all]>=0.26  # 0.26 introduced the termination/truncation API
gym[all]>=0.26  # 0.26 introduced the termination/truncation API
dm_control
minigrid
procgen