black
flake8
typing-extensions
pylint
pytest
absl-py
numpy<0.24
jax
jax_dataclasses
chex
optax
rlax
flax
dm_env
gymnasium[all]>=0.26  # 0.26 introduced the termination/truncation API
gym[all]>=0.26  # 0.26 introduced the termination/truncation API
mujoco
procgen
bsuite
wandb